<div id="details">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white rounded-0">
      <li class="breadcrumb-item">
        <a href="#">Trang chủ</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Điện thoại</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Apple</li>
    </ol>
  </nav>

  <div class="wrap bg-white clearfix">
    <h1 class="phone-name">iPhone 7 plus 128gb red</h1>
    <hr class="my-0">
    <div class="pictures p-2 text-center">
      <img class="photo" src="../../../assets/images/380x380/iphone-7-plus-128gb-red.jpg" alt="">
      <div class="subs clearfix text-center">
        <a href="javascript:void()">
          <img class="w-100  img-thumbnail" src="../../../assets/images/380x380/iphone-7-32gb-pink.jpg" alt="">
        </a>
        <a href="javascript:void()">
          <img class="w-100  img-thumbnail" src="../../../assets/images/380x380/iphone-7-32gb-white.jpg" alt="">
        </a>
        <a href="javascript:void()">
          <img class="w-100  img-thumbnail" src="../../../assets/images/380x380/iphone-7-32gb.jpg" alt="">
        </a>
        <a href="javascript:void()">
          <img class="w-100  img-thumbnail" src="../../../assets/images/380x380/iphone-7-64gb.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="description p-2">
      <div>Mã SP: 194172381</div>
      <div class="price">
        <strong>11.200.999đ</strong>
        <a class="line-through">12.200.999đ</a>
      </div>
      <p>Tình trạng:
        <a class="badge badge-pill badge-success">Còn hàng</a>
      </p>
      <div class="info">
        <ul>
          <li>
            <a>Sản phẩm gồm: Sạc, Hộp, Tai nghe, Sách hướng dẫn, Cáp USB.</a>
          </li>
          <li>
            <a>Tặng Dock sạc hoặc gậy chụp ảnh remote.</a>
          </li>
          <li>
            <a>Chính hãng: Bảo hành chính hãng 12 tháng.</a>
          </li>
          <li>
            <a>1 đổi 1 trong 1 tháng nếu sản phẩm lỗi.</a>
          </li>
          <li>
            <a>Giao hàng tận nơi miễn phí trong 30 phút.</a>
          </li>
        </ul>
      </div>
      <div class="btn-action row no-gutters">
        <div class="col-sm-6 buy-now p-1">
          <a class="btn btn-block text-white" href="#">
            <strong>Mua ngay</strong>
            <br>
            <small>Giao hàng tận nơi</small>
          </a>
        </div>
        <div class="col-sm-6 installment p-1">
          <a class="btn btn-block text-white" href="#">
            <strong>Mua trả góp</strong>
            <br>
            <small>Xét duyệt qua điện thoại</small>
          </a>
        </div>
        <p class="m-auto p-2">
          <small>Gọi đặt mua: 1900 5995 (Miễn phí 7:30-22:00)</small>
        </p>
        <!-- </div> -->
      </div>
    </div>
    <div class="specification p-2">
      <h2 class="title">Thông số kỹ thuật</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>Màn hình:</td>
            <td>Super AMOLED, 5.5", Full HD</td>
          </tr>
          <tr>
            <td> Hệ điều hành:</td>
            <td>Android 7.0</td>
          </tr>
          <tr>
            <td>Camera sau:</td>
            <td>13 MP</td>
          </tr>
          <tr>
            <td> Camera trước: </td>
            <td>13 MP</td>
          </tr>
          <tr>
            <td>CPU:</td>
            <td>Exynos 7870 8 nhân 64-bit</td>
          </tr>
          <tr>
            <td>RAM:</td>
            <td>3 GB</td>
          </tr>
          <tr>
            <td>Bộ nhớ trong:</td>
            <td>64 GB</td>
          </tr>
          <tr>
            <td>Thẻ SIM:</td>
            <td>1 Nano SIM, Hỗ trợ 4G</td>
          </tr>
          <tr>
            <td>Dung lượng pin:</td>
            <td> 3600 mAh</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="float-left w-100">
      <hr>
    </div>
    <div class="content p-2 text-justify">
      <div class="chacteristics">
        <h3>Đặc điểm nổi bật của iPhone 7 Red 128GB</h3>
        <img class="w-100" src="https://www.thegioididong.com/images/42/93705/iphone-7-red1.jpg" alt="">
        <h3>Màu sắc tinh tế, sang trọng</h3>
        <img class="w-100" src="https://www.thegioididong.com/images/42/93705/iphone-7-red2.jpg" alt="">
        <p>
          Đặc điểm nổi bật của iPhone 7 Red 128GB Tìm hiểu thêm Tìm hiểu thêm Sau rất nhiều thông tin thì cuối cùng Apple cũng cho
          ra mắt chiếc điện thoại để kỉ niệm 10 năm hợp tác giữa Apple và (RED) – một tổ chức gây quỹ hỗ trợ phòng chống
          AIDS đó là iPhone 7 RED. iPhone 7 Red 128GB - Màu sắc nổi bật Màu sắc tinh tế, sang trọng iPhone 7 Red 128GB -
          Màu sắc tinh tế, sang trọng Đây không phải là lần đầu tiên sản phẩm của Apple có màu đỏ, cụ thể là chiếc iPhone
          5C đã từng mang màu đỏ. Nhưng màu đỏ lần này trên iPhone 7 sang trọng và tinh tế hơn nhiều nhờ vào việc là vỏ của
          nó được làm từ kim loại và được sơn màu đỏ, thay vì chất liệu nhựa ở 5C. Rõ ràng nó mang lại một sự cuốn hút riêng
          và rất đặc biệt cho những fan của Apple.
        </p>
        <img class="w-100" src="https://www.thegioididong.com/images/42/93705/iphone-7-red3.jpg" alt="">
        <p>Với việc nắm bắt được xu hướng và luôn khiến các hãng khác thèm khát thì màu đỏ trên iPhone 7 lại khiến khẳng định
          hơn sự sáng tạo của họ.
        </p>
        <img class="w-100" src="https://www.thegioididong.com/images/42/93705/iphone-7-red4.jpg" alt="">
        <p>Đặc điểm nổi bật của iPhone 7 Red 128GB Tìm hiểu thêm Tìm hiểu thêm Sau rất nhiều thông tin thì cuối cùng Apple cũng
          cho ra mắt chiếc điện thoại để kỉ niệm 10 năm hợp tác giữa Apple và (RED) – một tổ chức gây quỹ hỗ trợ phòng chống
          AIDS đó là iPhone 7 RED. iPhone 7 Red 128GB - Màu sắc nổi bật Màu sắc tinh tế, sang trọng iPhone 7 Red 128GB -
          Màu sắc tinh tế, sang trọng Đây không phải là lần đầu tiên sản phẩm của Apple có màu đỏ, cụ thể là chiếc iPhone
          5C đã từng mang màu đỏ. Nhưng màu đỏ lần này trên iPhone 7 sang trọng và tinh tế hơn nhiều nhờ vào việc là vỏ của
          nó được làm từ kim loại và được sơn màu đỏ, thay vì chất liệu nhựa ở 5C. Rõ ràng nó mang lại một sự cuốn hút riêng
          và rất đặc biệt cho những fan của Apple. iPhone 7 Red 128GB - Màu sắc tinh tế, sang trọng Với việc nắm bắt được
          xu hướng và luôn khiến các hãng khác thèm khát thì màu đỏ trên iPhone 7 lại khiến khẳng định hơn sự sáng tạo của
          họ. iPhone 7 Red 128GB - Màu sắc tinh tế, sang trọng iPhone 7 RED sẽ “sạch sẽ” hơn so với màu Jet Black vì mặt
          lưng của máy sẽ không bám dấu vân tay. Một điểm cộng nữa cho màu đỏ cá tính này.
        </p>
      </div>
      <hr>
    </div>
    <div class="related-product p-2">
      <h2 class="title">Sản phẩm tương tự</h2>
      <ul class="rel-list list-unstyled">
        <a href="javascript:void()" class="media item">
          <div class="picture">
            <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1">iPhone 7 plus 128gb red</h5>
            <div class="price">
              <strong>11.200.999đ</strong>
              <span class="line-through">12.200.999đ</span>
            </div>
            <div>Màn hình 5.5"</div>
            <div>Camera sau 13 MP</div>
            <div>Camera trước 13 MP</div>
            <div>Pin 3600 mAh</div>
          </div>
        </a>
        <a href="javascript:void()" class="media item">
          <div class="picture">
            <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1">iPhone 7 plus 128gb red</h5>
            <div class="price">
              <strong>11.200.999đ</strong>
              <span class="line-through">12.200.999đ</span>
            </div>
            <div>Màn hình 5.5"</div>
            <div>Camera sau 13 MP</div>
            <div>Camera trước 13 MP</div>
            <div>Pin 3600 mAh</div>
          </div>
        </a>
        <a href="javascript:void()" class="media item">
          <div class="picture">
            <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1">iPhone 7 plus 128gb red</h5>
            <div class="price">
              <strong>11.200.999đ</strong>
              <span class="line-through">12.200.999đ</span>
            </div>
            <div>Màn hình 5.5"</div>
            <div>Camera sau 13 MP</div>
            <div>Camera trước 13 MP</div>
            <div>Pin 3600 mAh</div>
          </div>
        </a>
        <a href="javascript:void()" class="media item">
          <div class="picture">
            <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
          </div>
          <div class="media-body">
            <h5 class="mt-0 mb-1">iPhone 7 plus 128gb red</h5>
            <div class="price">
              <strong>11.200.999đ</strong>
              <span class="line-through">12.200.999đ</span>
            </div>
            <div>Màn hình 5.5"</div>
            <div>Camera sau 13 MP</div>
            <div>Camera trước 13 MP</div>
            <div>Pin 3600 mAh</div>
          </div>
        </a>
      </ul>
    </div>

    <div class="comments p-2">
      <div class="form-comment clearfix">
        <div class="form-group">
          <label>
            <strong>Mời bạn để lại bình luận</strong>
          </label>
          <textarea class="form-control" rows="4"></textarea>
          <button class="float-right btn btn-sm btn-primary mt-2 px-4">GỬI</button>
        </div>
      </div>
      <p>
        <strong>50 Bình luận</strong>
      </p>
      <ul class="com-list list-unstyled">
        <li class="media mt-1">
          <span class="first-char text-center  mr-2">A</span>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Anh Do</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            felis in faucibus.
            <div class="media mt-2">
              <span class="first-char text-center  mr-2">A</span>
              <div class="media-body">
                <h5 class="mt-0">Thanh Thang</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                congue felis in faucibus.
              </div>
            </div>
          </div>
        </li>
        <li class="media mt-1">
          <span class="first-char text-center  mr-2">A</span>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Anh Do</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            felis in faucibus.
            <div class="media mt-2">
              <span class="first-char text-center  mr-2">A</span>
              <div class="media-body">
                <h5 class="mt-0">Thanh Thang</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                congue felis in faucibus.
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
