<div *ngIf="displayName" id="user-logged" class="text-right text-white bg-dark position-fixed">
  <i class="fa fa-user fa-fw" aria-hidden="true"></i>
  <span class="name">{{ displayName }}</span>
  <div class="logout text-left" (click)="logout()">
    <i class="fa fa-power-off fa-fw" aria-hidden="true"></i> Đăng xuất
  </div>
</div>
<header id="main-header" class="bg-dark position-fixed w-100">
  <div class="wrapper">
      <a href="javascript:void()" class="float-left logo" (click)="navigateToLink('/')">
          <img src="../../../assets/images/anhdomobile-logo.png" alt="Back to Anh Do Mobile home">
      </a>
      <form class="float-left search-form position-relative">
          <div class="input-group">
              <input type="text" class="form-control rounded-0" placeholder="Bạn tìm gì..." aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-warning rounded-0">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
          </div>

          <div class="search-results bg-white w-100 position-absolute">
              <a href="#" class="clearfix py-1">
                  <div class="picture float-left">
                      <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
                  </div>
                  <div class="desc float-left mt-1">
                      <h3 class="name">iPhone 7 plus 128gb red</h3>
                      <div class="price">
                          <strong>11.200.999đ</strong>
                          <div class="line-through">12.200.999đ</div>
                      </div>
                  </div>
              </a>
              <a href="#" class="clearfix py-1">
                  <div class="picture float-left">
                      <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
                  </div>
                  <div class="desc float-left mt-1">
                      <h3 class="name">iPhone 7 plus 128gb red</h3>
                      <div class="price">
                          <strong>11.200.999đ</strong>
                          <div class="line-through">12.200.999đ</div>
                      </div>
                  </div>
              </a>
              <a href="#" class="clearfix py-1">
                  <div class="picture float-left">
                      <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
                  </div>
                  <div class="desc float-left mt-1">
                      <h3 class="name">iPhone 7 plus 128gb red</h3>
                      <div class="price">
                          <strong>11.200.999đ</strong>
                          <div class="line-through">12.200.999đ</div>
                      </div>
                  </div>
              </a>
              <a href="#" class="clearfix py-1">
                  <div class="picture float-left">
                      <img class="w-100" src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="">
                  </div>
                  <div class="desc float-left mt-1">
                      <h3 class="name">iPhone 7 plus 128gb red</h3>
                      <div class="price">
                          <strong>11.200.999đ</strong>
                          <div class="line-through">12.200.999đ</div>
                      </div>
                  </div>
              </a>
          </div>
      </form>
      <nav id="sidenav" class="float-right">
          <a href="javascript:void()" *ngFor="let menu of menus" (click)="navigateToLink(menu.Link)">
              <i [class]="menu.Icon" aria-hidden="true"></i> {{ menu.Text }}
          </a>
          <span href="javascript:void()" class="btn-open" (click)="showMobileNav(true)">&#9776;</span>
      </nav>
      <nav id="sidenav-mobile" class="bg-danger h-100" [class.open]="showNav">
          <a href="/">
              <img class="logo-mobile" src="../../../assets/images/anhdomobile-logo.png" alt="Back to Anh Do Mobile home">
          </a>
          <a href="javascript:void()">
              <i class="fa fa-mobile fa-fw" aria-hidden="true"></i>Product</a>
          <a href="javascript:void()">
              <i class="fa fa-apple fa-fw" aria-hidden="true"></i>Apple</a>
          <a href="javascript:void()">
              <i class="fa fa-android fa-fw" aria-hidden="true"></i>Samsung</a>
          <a href="javascript:void()">
              <i class="fa fa-gift fa-fw" aria-hidden="true"></i>Discount</a>
          <a href="javascript:void()">
              <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i>News</a>
          <a href="javascript:void()">
              <i class="fa fa-volume-control-phone fa-fw" aria-hidden="true"></i>Contact</a>
          <a href="javascript:void()">
              <i class="fa fa-pencil-square fa-fw" aria-hidden="true"></i>About</a>
          <a href="javascript:void()" class="btn-close position-absolute" (click)="showMobileNav(false)">&#9776;</a>
      </nav>
  </div>
</header>
