<div *ngIf="displayName" id="user-logged" class="text-right text-white bg-dark position-fixed">
  <i class="fa fa-user fa-fw" aria-hidden="true"></i>
  <span class="name">{{ displayName }}</span>
  <div class="logout text-left" (click)="logout()">
    <i class="fa fa-power-off fa-fw" aria-hidden="true"></i> Đăng xuất
  </div>
</div>
<header id="main-header" class="bg-dark position-fixed w-100">
  <div class="wrapper">
      <a href="/" class="float-left logo">
          <img src="../../../assets/images/anhdomobile-logo.png" alt="Back to Anh Do Mobile home">
      </a>
      <form class="float-left search-form position-relative">
          <div class="input-group">
              <input (keyup)="searchProducts($event.target.value)" type="text" class="form-control rounded-0" placeholder="Bạn tìm gì..." aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                  <button class="btn btn-warning rounded-0">
                      <i class="fa fa-search"></i>
                  </button>
              </div>
          </div>

          <div class="search-results bg-white w-100 position-absolute" [hidden]="!productList.length">
              <a href="/dien-thoai/{{ product.MetaTitle }}" class="clearfix py-1" *ngFor="let product of productList">
                  <div class="picture float-left text-center">
                      <img class="w-75" src="../../../assets/images/180x180/{{ product.Image }}" alt="">
                  </div>
                  <div class="desc float-left mt-1">
                      <h3 class="name">{{ product.Name }}</h3>
                      <div class="price">
                          <strong>{{ product.PromotionPrice || product.Price | number }}đ</strong>
                          <div class="line-through" *ngIf="product.PromotionPrice">{{ product.Price | number }}đ</div>
                      </div>
                  </div>
              </a>
          </div>
      </form>
      <nav id="sidenav" class="float-right">
          <a *ngFor="let menu of menus" [href]="menu.Link" [target]="parseTargetLink(menu.Target)" [title]="menu.Text">
              <i [class]="menu.Icon" aria-hidden="true"></i> {{ menu.Text }}
          </a>
          <span href="javascript:void()" class="btn-open" (click)="showMobileNav(true)">&#9776;</span>
      </nav>
      <nav id="sidenav-mobile" class="bg-danger h-100" [class.open]="showNav">
          <a href="/">
              <img class="logo-mobile" src="../../../assets/images/anhdomobile-logo.png" alt="Back to Anh Do Mobile home">
          </a>
          <a *ngFor="let menu of menus" [href]="menu.Link" [target]="parseTargetLink(menu.Target)" [title]="menu.Text">
              <i [class]="menu.Icon + ' fa-fw'" aria-hidden="true"></i> {{ menu.Text }}
          </a>
          <a href="javascript:void()" class="btn-close position-absolute" (click)="showMobileNav(false)">&#9776;</a>
      </nav>
  </div>
</header>
