<section id="top-product">
  <ul class="filter">
    <li>
      <h1>Điện thoại: </h1>
      <a href="javascript:void()">Apple</a>
      <a href="javascript:void()">Samsung</a>
      <a href="javascript:void()">Oppo</a>
      <a href="javascript:void()" class="drop-select">
        Hãng khác:
        <select class="custom-select custom-select-sm">
          <option>Tất cả hãng</option>
          <option>Apple</option>
          <option>Samsung</option>
          <option>Oppo</option>
          <option>HTC</option>
          <option>Xiaomi</option>
          <option>Sony</option>
        </select>
      </a>
    </li>
    <li>
      <a href="javascript:void()" class="drop-select">Mức giá:
        <select class="custom-select custom-select-sm">
          <option>Tất cả mức giá</option>
          <option>Dưới 2 triệu</option>
          <option>Từ 2 - 5 triệu</option>
          <option>Từ 5 - 10 triệu</option>
          <option>Trên 10 triệu</option>
        </select>
      </a>
    </li>
    <li>
      <a href="javascript:void()" class="drop-select">Sắp xếp theo:
        <select class="custom-select custom-select-sm">
          <option>Giá tăng dần</option>
          <option>Giá giảm dần</option>
        </select>
      </a>
    </li>
  </ul>
  <aside class="banner">
    <div class="row no-gutters">
      <div class="first col-md-6 mt-2">
        <img class="w-100 h-100" src="../../../assets/images/redmi-5-plus-cau-hinh-khung-gia-cuc-ngon.png" alt="">
      </div>
      <div class="second col-md-6 mt-2">
        <img class="w-100 h-100" src="../../../assets/images/sam-samsung-trung-300-may-lanh.png" alt="">
      </div>
    </div>
  </aside>
</section>

<section id="product">
  <div class="boxes">
    <h1 class="title">{{ products.length }} sản phẩm</h1>
    <ul class="products">
      <li class="item" *ngFor="let product of products">
        <a href="/dien-thoai/{{ product.MetaTitle }}">
          <div class="photo">
            <img src="../../../assets/images/180x180/{{ product.Image }}" [alt]="product.Name">
          </div>
          <h3 class="name">{{ product.Name }}</h3>
          <div class="price">
              <strong>{{ product.PromotionPrice || product.Price | number }}đ</strong>
              <div class="line-through" *ngIf="product.PromotionPrice">{{ product.Price | number }}đ</div>
            </div>
            <div class="promo">
              <p>{{ product.DiscountAccompanying }}</p>
            </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="text-center view-more">
    <a href="javascript:void()">Xem thêm 40 sản phẩm
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
    </a>
  </div>
</section>
