<section id="top-product">
  <ul class="filter">
    <li>
      <h1>Điện thoại: </h1>
      <a href="javascript:void()" (click)="filterCategory('apple')">Apple</a>
      <a href="javascript:void()" (click)="filterCategory('samsung')">Samsung</a>
      <a href="javascript:void()" (click)="filterCategory('oppo')">Oppo</a>
      <a href="javascript:void()" class="drop-select">
        Hãng khác:
        <select class="custom-select custom-select-sm" [(ngModel)]="filterQuery.category">
          <option value="">Tất cả hãng</option>
          <option [value]="category.MetaTitle" *ngFor="let category of categories">
            {{ category.Name }}
          </option>
        </select>
      </a>
    </li>
    <li>
      <a href="javascript:void()" class="drop-select">Mức giá:
        <select class="custom-select custom-select-sm" [(ngModel)]="filterQuery.price">
          <option [value]="filterByPriceEnum.All">Tất cả mức giá</option>
          <option [value]="filterByPriceEnum.From3To6M">Từ 3 - 6 triệu</option>
          <option [value]="filterByPriceEnum.From6To10M">Từ 6 - 10 triệu</option>
          <option [value]="filterByPriceEnum.GreaterThan10M">Trên 10 triệu</option>
        </select>
      </a>
    </li>
    <li>
      <a href="javascript:void()" class="drop-select">Sắp xếp theo:
        <select class="custom-select custom-select-sm" [(ngModel)]="filterQuery.sort" >
          <option [value]="sortByPriceEnum.ASC">Giá tăng dần</option>
          <option [value]="sortByPriceEnum.DESC">Giá giảm dần</option>
        </select>
      </a>
    </li>
  </ul>
  <aside class="banner">
    <div class="row no-gutters">
      <div class="first col-md-6 mt-2">
        <img class="w-100 h-100" src="../../../assets/images/redmi-5-plus-cau-hinh-khung-gia-cuc-ngon.png" alt="">
      </div>
      <div class="second col-md-6 mt-2">
        <img class="w-100 h-100" src="../../../assets/images/sam-samsung-trung-300-may-lanh.png" alt="">
      </div>
    </div>
  </aside>
</section>

<section id="product">
  <div class="boxes">
    <h1 class="title"></h1>
    <ul class="products">
      <li class="item" *ngFor="let product of (products |
        filterProductCategory: filterQuery.category |
        filterProductPrice: filterQuery.price |
        sortPrice: filterQuery.sort)">
        <a (click)="navigate('/dien-thoai', product.MetaTitle)">
          <div class="photo">
            <img src="../../../assets/images/180x180/{{ product.Image }}" [alt]="product.Name">
          </div>
          <h3 class="name">{{ product.Name }}</h3>
          <div class="price">
              <strong>{{ product.PromotionPrice || product.Price | number }}đ</strong>
              <div class="line-through" *ngIf="product.PromotionPrice">{{ product.Price | number }}đ</div>
            </div>
            <div class="promo">
              <p>{{ product.DiscountAccompanying }}</p>
            </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</section>
