<section id="top-product">
  <ul class="filter">
    <li>
      <h1>Điện thoại: </h1>
      <a href="javascript:void()">Apple</a>
      <a href="javascript:void()">Samsung</a>
      <a href="javascript:void()">Oppo</a>
      <a href="javascript:void()" class="drop-select">
        Hãng khác:
        <select class="custom-select custom-select-sm">
          <option>Tất cả hãng</option>
          <option>Apple</option>
          <option>Samsung</option>
          <option>Oppo</option>
          <option>HTC</option>
          <option>Xiaomi</option>
          <option>Sony</option>
        </select>
      </a>
    </li>
    <li>
      <a href="javascript:void()" class="drop-select">Mức giá:
        <select class="custom-select custom-select-sm">
          <option>Tất cả mức giá</option>
          <option>Dưới 2 triệu</option>
          <option>Từ 2 - 5 triệu</option>
          <option>Từ 5 - 10 triệu</option>
          <option>Trên 10 triệu</option>
        </select>
      </a>
    </li>
    <li>
      <a href="javascript:void()" class="drop-select">Sắp xếp theo:
        <select class="custom-select custom-select-sm">
          <option>Giá tăng dần</option>
          <option>Giá giảm dần</option>
        </select>
      </a>
    </li>
  </ul>
  <aside class="banner">
    <div class="row">
      <div class="first col-sm-6">
        <img class="w-100" src="../../../assets/images/redmi-5-plus-cau-hinh-khung-gia-cuc-ngon.png" alt="">
      </div>
      <div class="second col-sm-6">
        <img class="w-100" src="../../../assets/images/sam-samsung-trung-300-may-lanh.png" alt="">
      </div>
    </div>
  </aside>
</section>

<section id="product">
  <div class="boxes">
    <h1 class="title">60 sản phẩm</h1>
    <ul class="products">
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="javascript:void()">
          <div class="photo">
            <img src="../../../assets/images/180x180/iphone-7-plus-128gb-red.jpg" alt="iphone 7 plus 128gb red">
          </div>
          <h3 class="name">iPhone 7 plus 128gb red</h3>
          <div class="price">
            <strong>11.200.999đ</strong>
            <span class="line-through">12.200.999đ</span>
          </div>
          <div class="promo">
            <p>Giảm 1 triệu thanh toán qua thẻ JCB và 1 K.mãi khác</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="text-center view-more">
    <a href="javascript:void()">Xem thêm 40 sản phẩm
      <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
    </a>
  </div>
</section>
