<div id="login">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer text-center position-relative">
        <img src="../../../assets/images/login-avatar.png" alt="Avatar" class="w-25 rounded-circle">
      </div>
      <div class="container">
        <label for="uname">
          <b>Username</b>
        </label>
        <input class="form-control rounded-0" type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw">
          <b>Password</b>
        </label>
        <input class="form-control rounded-0" type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn btn-success btn-block rounded-0">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <span class="psw float-right">Forgot
          <a href="#">password?</a>
        </span>
      </div>
      <div class="container">
        <div>
          Hoặc đăng nhập qua
          <br />
          <button class="btn btn-danger">
            <i class="fa fa-google fa-fw" aria-hidden="true"></i> Google</button>
          <button class="btn btn-primary">
            <i class="fa fa-facebook fa-fw" aria-hidden="true"></i> Facebook</button>
        </div>
      </div>
    </form>
  </div>
</div>
