<div id="home">
  <div class="boxes best-outstanding">
    <h1 class="title">ĐIỆN THOẠI NỔI BẬT NHẤT</h1>
    <ul class="products">
      <li class="item {{i == 0 ? 'outstanding': ''}}" *ngFor="let product of productsBestOutstanding; let i = index">
        <a (click)="navigate('/dien-thoai', product.MetaTitle)">
          <div class="photo">
            <img src="../../../assets/images/180x180/{{ i == 0 ? product.LargeImage : product.Image }}" [alt]="product.Name">
          </div>
          <h3 class="name">{{ product.Name }}</h3>
          <div class="price">
            <strong>{{ product.PromotionPrice || product.Price | number }}đ</strong>
            <div class="line-through" *ngIf="product.PromotionPrice">{{ product.Price | number }}đ</div>
          </div>
          <div class="promo">
            <p>{{ product.DiscountAccompanying }}</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
  <div class="boxes best-selling">
    <h1 class="title">ĐIỆN THOẠI BÁN CHẠY NHẤT</h1>
    <ul class="products">
      <li class="item {{i == 0 ? 'outstanding': ''}}" *ngFor="let product of productsBestSelling; let i = index">
          <a (click)="navigate('/dien-thoai', product.MetaTitle)">
            <div class="photo">
              <img src="../../../assets/images/180x180/{{ i == 0 ? product.LargeImage : product.Image }}" [alt]="product.Name">
            </div>
            <h3 class="name">{{ product.Name }}</h3>
            <div class="price">
              <strong>{{ product.PromotionPrice || product.Price | number }}đ</strong>
              <div class="line-through" *ngIf="product.PromotionPrice">{{ product.Price | number }}đ</div>
            </div>
            <div class="promo">
              <p>{{ product.DiscountAccompanying }}</p>
            </div>
          </a>
        </li>
    </ul>
  </div>
</div>
