<div id="shopping-cart" *ngIf="cart">
  <div class="row">
    <div class="summary col-lg-9 col-12 m-auto bg-white py-2">
      <div class="clearfix">
        <a href="#">
          <i class="fa fa-caret-left" aria-hidden="true"></i> Mua thêm sản phẩm khác</a>
        <a class="float-right">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Giỏ hàng của bạn</a>
      </div>
      <hr>
      <div class="row">
        <div class="products-order col-sm-7 col-12 clearfix mb-3">
          <!-- item -->
          <div class="item clearfix" *ngFor="let item of cart.CartItems; let i = index">
            <div class="picture text-center">
              <a href="/dien-thoai/{{ item.ProductMetaTitle }}" class="d-block">
                <img class="w-100 img-thumbnail" src="../../../assets/images/180x180/{{ item.ProductImage }}" alt="">
              </a>
            </div>
            <div class="info">
              <h3 class="name">{{ item.ProductName }}</h3>
              <div>
                <strong class="price">{{ item.Price | number }}đ</strong>
              </div>
              <div class="mt-2" *ngIf="!loading">
                <span class="btn-remove badge badge-danger" (click)="removeItem(i)">
                  <i class="fa fa-times-circle" aria-hidden="true"></i> Xóa
                </span>
              </div>
            </div>
            <div class="quantity text-right">
              <div *ngIf="loading">Loading...</div>
              <div class="btn-group" role="group" *ngIf="!loading">
                <button type="button" class="btn btn-light btn-sm" (click)="changeQuantity(i, -1)">
                  <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm">{{ item.Quantity }}</button>
                <button type="button" class="btn btn-light btn-sm" (click)="changeQuantity(i, 1)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="float-left w-100">
              <hr>
            </div>
          </div>
          <!-- ./item -->
        </div>
        <div class="order-progress col-sm-5 col-12">
          <ul class="clearfix total">
            <li>
              <div>
                <span class="float-left">Tạm tính:</span>
                <span class="float-right">
                  <strong>{{ cart.CartTotalPrice | number }}đ</strong>
                </span>
              </div>
            </li>
            <li>
              <div>
                <span class="float-left">
                  <strong>Tổng cộng:</strong>
                </span>
                <span class="float-right">
                  <strong class="price">{{ cart.CartTotalPrice | number }}đ</strong>
                </span>
              </div>
            </li>
            <li>
              <div>Bạn có mã giảm giá không?</div>
              <div class="input-group mt-2">
                <input type="text" class="form-control rounded-0" placeholder="Nhập mã giảm giá">
                <div class="input-group-append">
                  <button class="btn input-group-text rounded-0">Áp dụng</button>
                </div>
              </div>
            </li>
            <li>
              <button class="btn btn-block rounded-0 btn-success">ĐẶT HÀNG / ORDER</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
